@page
@model IndexModel

<div class="content">

    <div class="top-content">


        <div class="outline-form">

            <h2 class="title-form">Input your Measurements</h2>

            <form method="post" class="input-form">

                <div class="tabs">

                    <input asp-for="measurementsModel.Units" value="us" type="radio" id="usUnits"
                        checked="@(Model.measurementsModel.Units == "us")" />
                    <label for="usUnits">US Units</label>

                    <input asp-for="measurementsModel.Units" value="metric" type="radio" id="metricUnits"
                        checked="@(Model.measurementsModel.Units == "metric")" />
                    <label for="metricUnits">Metric Units</label>

                </div>

                <div class="row" id="heightUS">
                    <label class="" for="">Height</label>

                    <div class="input-field">
                        <input asp-for="measurementsModel.Heightft" type="number" class="" min="0"
                            value="@Model.measurementsModel.Heightft">
                        <span>ft</span>
                    </div>
                    <div class="input-field">
                        <input asp-for="measurementsModel.Heightin" type="number" class="" min="0"
                            value="@Model.measurementsModel.Heightin">
                        <span>in</span>
                    </div>
                </div>

                <div class="row inactive" id="heightMetric">
                    <label for="">Height</label>
                    <div class="input-field">
                        <input asp-for="measurementsModel.Heightcm" type="number" class="" min="0"
                            value="@Model.measurementsModel.Heightcm">
                        <span>cm</span>
                    </div>
                </div>

                <div class="row" id="weightUS">
                    <label for="">Weight</label>
                    <div class="input-field">
                        <input asp-for="measurementsModel.Weightlbs" type="number" class="" min="0"
                            value="@Model.measurementsModel.Weightlbs">
                        <span>lbs</span>
                    </div>
                </div>

                <div class="row inactive" id="weightKG">
                    <label for="">Weight</label>
                    <div class="input-field">
                        <input asp-for="measurementsModel.Weightkg" type="number" class="" min="0"
                            value="@Model.measurementsModel.Weightkg">
                        <span>kg</span>
                    </div>
                </div>

                <div class="row" id="">
                    <label for="">Age</label>
                    <div class="input-field">
                        <input asp-for="measurementsModel.Age" type="number" class="" min="0"
                            value="@Model.measurementsModel.Age">
                        <span>years</span>
                    </div>
                </div>

                <div class="row">
                    <label for="">Gender</label>
                    <div class="col">
                        <div class="col">
                            <label for="male">Male</label>
                            <input asp-for="measurementsModel.Gender" value="male" type="radio" id="male"
                                checked="@(Model.measurementsModel.Gender == "male")" />
                        </div>
                        <div class="col">
                            <label for="female">Female</label>
                            <input asp-for="measurementsModel.Gender" value="female" type="radio" id="female"
                                checked="@(Model.measurementsModel.Gender == "female")">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="">Activity Level</label>

                    <select asp-for="measurementsModel.ActivityOption" id="" class="activity-levels">
                        <option value="1">Sedentary (little or no exercise): BMR x 1.2
                        </option>
                        <option value="2">Lightly active (light exercise or sports 1-3 days a week): BMR x 1.375
                        </option>
                        <option value="3">Moderately active (moderate exercise or sports 3-5 days a week): BMR x
                            1.55
                        </option>
                        <option value="4">Very active (hard exercise or sports 6-7 days a week): BMR x 1.725
                        </option>
                        <option value="5">Extra active (very hard exercise or sports, physical job or training twice a
                            day):
                            BMR × 1.9
                        </option>
                    </select>
                </div>


                <button type="submit" class="calculate row">Calories</button>


            </form>

        </div>


        <div>

            @{
                if (@Model.IsFormSubmitted)
                {

                    <partial name="partialBMRResults" model="Model" />

                }
            }

        </div>

    </div>

    <div class="bottom-content">

        @{
            if (@Model.IsFormSubmitted)
            {

                <partial name="partialBMIResults" model="Model" />

            }
        }

    </div>


</div>

<footer class="sticky-footer">
        <p> © Copyright Carlos Romero 2024.</p>
</footer>
